<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <title>DIY Flask website</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p>{{ variable }} chocolate cake candy canes brownie wafer cheesecake. Dessert brownie muffin cheesecake tiramisu. Pie sesame snaps tootsie roll jelly marshmallow fruitcake gingerbread pudding chocolate bar. Powder soufflé cheesecake pie liquorice halvah donut. Carrot cake cake topping croissant lemon drops sweet pie topping. Carrot cake croissant chocolate {{ variable }} fruitcake gummies. Candy canes sesame snaps tiramisu. Candy donut tiramisu bonbon marshmallow sweet topping. Apple pie topping carrot cake gummies gummi bears apple pie tootsie roll. Chocolate cake muffin pastry tootsie roll sweet roll.</p>
                <p>Pastry gingerbread cheesecake cake bear claw. Lollipop oat cake tootsie roll marshmallow cake. Cupcake lemon drops cheesecake cheesecake. Toffee cheesecake gingerbread brownie cake. Cotton candy marzipan ice cream donut pie candy caramels dragée sesame snaps. Pudding pie topping cake sugar plum. Candy canes sweet chocolate.</p>
                <p>Chocolate cake tootsie roll wafer oat cake jelly pie. Chocolate cake croissant wafer wafer cookie chupa chups tart pudding. Tootsie roll chocolate cake tart. Croissant oat cake jelly wafer icing chocolate bar. Fruitcake dragée fruitcake macaroon cupcake tootsie roll muffin. Fruitcake cake sweet muffin croissant chupa chups. Wafer sugar plum sweet icing sugar plum cookie tart liquorice croissant. Muffin cake brownie topping bear claw croissant marshmallow candy tootsie roll. Carrot cake candy chocolate cake sweet chocolate bar macaroon icing. Cake pie sesame snaps.</p>
                <p>Marshmallow lollipop jelly sweet roll jujubes pudding powder lollipop halvah. Chocolate cake powder marzipan tart cake biscuit. Caramels candy canes bonbon biscuit gingerbread. Ice cream chocolate cake caramels. Biscuit lollipop biscuit carrot cake dessert. Lemon drops cake bonbon {{ variable }} donut jelly beans soufflé. Biscuit chocolate cake gummi bears pastry gummies. Apple pie bear claw halvah tootsie roll lollipop lollipop icing candy canes.</p>
                <p>Icing jelly croissant chocolate cake sweet sweet roll cookie. Cake liquorice {{ variable }} powder croissant halvah wafer. Gummi bears cotton candy cupcake chupa chups pie gingerbread carrot cake lollipop. Gummi bears cheesecake liquorice cupcake tootsie roll topping. Wafer gingerbread dragée candy danish tart sweet roll croissant. Apple pie chocolate bar marshmallow icing tiramisu chocolate bar pudding. Cookie croissant lollipop.</p>
            </div>
        </div>
    </div>
  </body>
</html>