<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <title>DIY Flask website</title>
  </head>
  <body>
    <div class="container">
        <div class="row page-title">
            <div class="col text-center">
                <!-- add page title here -->
            </div>
        </div>
        <div class="row hero-section">
            <div class="col-12 col-md-6">
                <!-- add section title here -->
                <p>Cupcake croissant brownie candy canes apple pie gummies. Cake powder tiramisu candy. Candy canes jelly gummi bears croissant. Chupa chups chocolate cake topping macaroon. Dragée cheesecake apple pie sweet powder. Jelly cake fruitcake pastry jelly beans tart marshmallow tootsie roll gummies. Cupcake cheesecake gummi bears.</p>
            </div>
            <div class="col-12 col-md-6">
                <!-- add section title here -->
                Sweet jelly beans tart ice cream biscuit macaroon gummi bears cupcake gummies. Fruitcake pastry liquorice sugar plum cupcake gingerbread jelly beans. Pudding biscuit wafer fruitcake chocolate apple pie wafer topping. Candy canes pastry gummi bears lollipop biscuit tiramisu dragée tootsie roll.
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- add section title here -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col">
                        <img src="https://via.placeholder.com/1000" class="img-fluid thumbnail">
                        <p>Sesame snaps ice cream toffee gummies croissant.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col">
                        <img src="https://via.placeholder.com/1000" class="img-fluid thumbnail">
                        <p>Biscuit gummi bears macaroon ice cream lollipop gummi bears cake sugar plum.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col">
                        <img src="https://via.placeholder.com/1000" class="img-fluid thumbnail">
                        <p>Carrot cake bear claw cookie chupa chups cake candy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>